/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: var(--card-text-weight);
  background-image: var(--bg-img-gradient);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  margin: 100px auto;
  border: 2px solid var(--second-color);
  align-items: center;
  background-color: var(--main-color);
  font-family: var(--accent-font), sans-serif;
  padding-block-start: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem);
  padding-block-end: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem);
  justify-content: center;
}

.header__title {
  text-transform: uppercase;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.main_content {
  display: grid;
  gap: 50px;
  max-width: 700px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 700px;
  border: 2px solid var(--second-color);
  background-color: var(--main-color);
}

.card_title {
  font-family: var(--main-font), sans-serif;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-variation-settings: var(--card-title-weight);
  letter-spacing: 0.1px;
  line-height: 1.21;
  padding: 4px 10px 6px 10px;
  border-bottom: 2px solid var(--second-color);
}

.card_image {
  position: relative;
}

.image_truck {
  display: block;
  width: 100%;
}

.img_bright {
  filter: brightness(120%) saturate(150%);
}

.img_blur {
  filter: blur(1rem);
}

.img_hue {
  filter: hue-rotate(280deg);
}

.img_contrast {
  filter: contrast(200%);
}

.img_opacity {
  filter: opacity(50%);
}

.img_grayscale {
  filter: grayscale(100%);
}

.img_saturate {
  filter: saturate(250%);
}

.card_label {
  font-family: var(--accent-font), sans-serif;
  font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  text-transform: uppercase;
  line-height: 100%;
  mix-blend-mode: hard-light;
  position: absolute;
  z-index: 2;
  top: 24px;
  right: 12px;
  opacity: 0.5;
  color: var(--second-color);
  text-shadow: -1px 0 var(--main-color),
  0 1px var(--main-color),
  1px 0 var(--main-color),
  0 -1px var(--main-color);
}

@supports ((-webkit-text-stroke: 1px var(--main-color)) or (text-stroke: 1px var(--main-color))) {
  .card_label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--main-color);
    text-stroke: 1px var(--main-color); 
  }
}

.card_content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  padding: 25px 27px;
  line-height: 21px;
  font-variation-settings: var(--card-text-weight);
  border-top: 2px solid var(--second-color);
}


.button {
  display: flex;
  gap: 2px;
  justify-content: flex-end;
  padding-inline-end: 25px;
  padding-block-end: 25px;
}

.card__icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 38px;
  max-width: 42px;
  background-color: transparent;
  border: 2px solid transparent;
  cursor: pointer;
  transition: border 0.3s ease;
  padding: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--second-color);
}

.sparks {
  opacity: 0;
}

.card__like-button {
  background-color: transparent;
  border: 2px solid var(--second-color);
  inline-size: 130px;
  block-size: 38px;
  padding: 9px 17px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--main-color);
  font-family: var(--accent-font), sans-serif;
  font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  mix-blend-mode: difference;
}

.button_effects:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--second-color);
}

.button_effects {
  position: relative;
  overflow: hidden;
  background-color: var(--main-color);
}

.button_effects::before, .save_button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--second-color);
  transform-origin: left center;
  transition: transform 0.5s ease-in-out;
}

.button_effects::before {
  transform-origin: left center;
  transform: scaleX(0) translateX(-100%);
}

.button_effects:hover::before {
  transform: scaleX(1) translateX(0);
}

.save_button {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  border: 2px solid var(--second-color);
  background-color: var(--main-color);
  min-height: 80px;
  margin: 0px 35px 100px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.save_button::before {
  transform: translateX(-100%);
}

.save_button:hover::before {
  transform: translateX(0);
}

.button_icon {
  max-width: 28px;
  height: auto;
  color: var(--main-color);
  mix-blend-mode: difference;
}

.dialog_button {
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  max-inline-size: 353px;
}

.dialog_button[open] .dialog_header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  align-items: center;
  row-gap: 30px;
  column-gap: 20px;
  line-height: 150%;
  font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  text-transform: uppercase;
  padding: 12px 24px;
}

.dialog_button::backdrop {
  background-color: rgb(0 0 0 / 0.75);;
}

.dialog_icon {
  min-width: 39px;
  grid-column: 1;
  grid-row: 1;
}

.modal__subtitle {
  grid-column: 2;
  grid-row: 1;
}

.daialog_close {
  grid-column: 1 / -1;
  grid-row: 2;
  justify-self: center;
  text-transform: uppercase;
  background-color: transparent;
  padding: 12.5px 114.5px;
  max-height: 38px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.daialog_close:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--second-color);
}


@media (width >= 1024px) {

  .save_button {
    display: flex;
    flex-direction: row;
    min-height: 55px;
    margin-inline-start: 181px;
    margin-inline-end: 181px;
  }

  .card_content {
    padding-block-start: 28px;
  }

  .card_label {
    top: 25px;
    right: 25px;
  }

  .button_icon {
    max-width: 21px;
    height: auto;
  }

  .button {
    padding-block-end: 22px;
  }

  .dialog_button[open] .dialog_header {
    padding: 12px 17px;
  }

  .daialog_close {
    padding: 11px 132px;
  }

}