/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: "Inter";
    --accent-font: "Press Start 2P";
    --card-text-weight: 400;
    --card-title-weight: 700;
    --main-color: #fff;
    --second-color: #000000;
}